## Python Basics

In [12]:
a = 10
b = 20

print(a + b)

30

In [4]:
a = 50
print(a)

50

In [7]:
print(a)

10

In [13]:
print(type(a))

<class 'int'>

In [14]:
a = "hello"
print(type(a))

<class 'str'>

In [15]:
a = 5.5
print(type(a))

<class 'float'>

In [16]:
name = input()
print("Hello "+name)

Prateek
Hello Prateek

In [18]:
number = int(input()) #Typecasting
print(number)
print(type(number))

10
10
<class 'int'>

### Strings

In [20]:
sentence = "This is a Machine Learning class"
print(sentence[2])

i

In [22]:
sentence[1:6] #slicing

'his i'

In [23]:
sentence[-3:]

'ass'

In [24]:
sentence[-2]

's'

In [31]:
new_sent = sentence.split()

In [32]:
new_sent

['This', 'is', 'a', 'Machine', 'Learning', 'class']

In [33]:
print(type(new_sent))

<class 'list'>

In [34]:
new_sent[3]

'Machine'

In [35]:
new_sent[-1]

'class'

In [39]:
s = '+'.join(new_sent)
print(new_sent)
print(s)

['This', 'is', 'a', 'Machine', 'Learning', 'class']
This+is+a+Machine+Learning+class

In [40]:
s2 = 'hi'.join(["1","2","3"])

In [41]:
print(s2)

1hi2hi3

In [44]:
"hello" + str(5) #Typecasting

'hello5'

In [45]:
"hello"*5

'hellohellohellohellohello'

### Read a List of Numbers

In [48]:
number_list = input().split()
print(number_list)
print(type(number_list))

1 2 3
['1', '2', '3']
<class 'list'>

In [49]:
a = [1,2,3]
print(type(a))

<class 'list'>

In [50]:
b = [1,2,3,"Hello",[3,4,5]]

In [51]:
print(b[-1])

[3, 4, 5]

In [52]:
print(b[-2])

Hello

In [57]:
s1 = [1,2,3,14,5]
s1.append(6)

for x in s1:
    print(x)

1
2
3
14
5
6

In [59]:
number_list = input().split()
print(number_list)

l = []
for n in number_list:
    l.append(int(n))

print(l)

1 2 3 4
['1', '2', '3', '4']
[1, 2, 3, 4]

In [64]:
#List Comprehension
squares = [i**2 for i in l]
print(squares)

[1, 4, 9, 16]

In [67]:
l = [int(i)**2 for i in input().split()]
print(l)

1 2 3 4 5
[1, 4, 9, 16, 25]

In [77]:
print(l,end=',')
print(l,"a","b",sep="+",end="?")
print("Hi")

[1, 4, 9, 16, 25],[1, 4, 9, 16, 25]+a+b?Hi

In [84]:
for i in range(11,5,-2): #start #end+1 #jump
    print(i)

11
9
7

In [91]:
s = "Hello World"
print(s[-3:2:-2])

rWo

Read N and Print the Star Pattern

In [94]:
n = int(input())
for i in range(1,n+1):
    print(" "*(n-i),end="")
    print("*"*(2*i-1))

5
    *
   ***
  *****
 *******
*********

In [98]:
i = 1
while i<=5:
    print(i*i)
    i = i+1

1
4
9
16
25

In [102]:
lang = "C++"

In [101]:
if lang=='python':
    print("Python")
elif lang=="C++":
    print("its C++")
else:
    print("whatever!")

its C++

In [126]:
def fun(a,b=10,*X,**kwargs):
    print("Having fun!")
    print(X)
    print(a,b)
    s = a + b + sum(X)
    print(kwargs)
    print(s)

In [128]:
fun(10,20,30,40,50,fruit="Mango",shake="Oreo")

Having fun!
(30, 40, 50)
10 20
{'fruit': 'Mango', 'shake': 'Oreo'}
150

## Data Structures

In [129]:
# List
# Tuple

In [134]:
a = (10,20,30,40,"Hello")
print(type(a))
a[1]

<class 'tuple'>

20

In [133]:
b = list(a)
print(b)
b[0] =100
print(b)

[10, 20, 30, 40, 'Hello']
[100, 20, 30, 40, 'Hello']

In [136]:
# Dictionary

d = {
    "pavbhaji":100,
    "golgappa":50,
    "idlisambhar":[40,80],
    "maggi":{"regular":20,"cheese":30}
}

In [138]:
list(d.keys())

['pavbhaji', 'golgappa', 'idlisambhar', 'maggi']

In [139]:
list(d.values())

[100, 50, [40, 80], {'regular': 20, 'cheese': 30}]

In [140]:
d['golgappa']

50

In [141]:
d['maggi']['regular']

20

In [143]:
if d.get('Tea') is None:
    print("not present")
else:
    print(d['Tea'])

not present

In [146]:
for item in d.items():
    print(item)

('pavbhaji', 100)
('golgappa', 50)
('idlisambhar', [40, 80])
('maggi', {'regular': 20, 'cheese': 30})

In [147]:
d.update?

In [149]:
l = list([1,2,3])

In [150]:
t = tuple(l)

In [151]:
print(t)

(1, 2, 3)

In [155]:
countries = tuple(["India","US","South Africa"])
capitals = ["Delhi","Washington","Cape Town"]

d = dict(zip(countries,capitals))

In [156]:
print(d)

{'India': 'Delhi', 'US': 'Washington', 'South Africa': 'Cape Town'}

### Class and Object

In [176]:
class Student:
    
    class_marks = []
    def __init__(self,name,school):
        self.name = name
        self.school = school
        self.marks = []
        
    def show(self):
        print(self.name,self.school)

In [177]:
s = Student("Prateek","DTU")
s2 = Student("Sharad","DCE")
s.marks.append(10)
s2.marks.append(20)
s.class_marks.append(10)
s2.class_marks.append(20)

In [178]:
s.show()
s2.show()
print(s.class_marks)
print(s2.class_marks)
print(s.marks)
print(s2.marks)

Prateek DTU
Sharad DCE
[10, 20]
[10, 20]
[10]
[20]

In [180]:
import random

In [182]:
random.randint(10,20)

13

In [208]:
random.seed(10)

In [209]:
l = [i for i in range(10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [212]:
random.shuffle(l)

In [213]:
print(l)

[3, 2, 4, 6, 0, 1, 9, 5, 7, 8]

### Numpy

```pip install numpy```  for Mathematical Computations  
```pip install pandas``` for Data preprocessing    
```pip install matplotlib``` for Graph Plotting

In [214]:
!pip install numpy

Requirement already satisfied: numpy in c:\python\lib\site-packages (1.16.3)

You are using pip version 19.0.3, however version 19.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.